In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import urllib
import json
import requests

In [13]:
appId = "fc2ff3fe1cae053a36e492cc55a6f6953089f602"
STATS_DATA_ID = "0002060002"

URL = "http://api.e-stat.go.jp/rest/3.0/app/getSimpleStatsData?appId={appId}&lang=J&statsDataId={STATS_DATA_ID}"
#&metaGetFlg=Y&cntGetFlg=N&explanationGetFlg=Y&annotationGetFlg=Y&sectionHeaderFlg=1&replaceSpChars=0

#url_sp = URL.split("appId=")
#URL = url_sp[0] + "appId=" + appId + url_sp[1]
print(URL)

http://api.e-stat.go.jp/rest/3.0/app/getSimpleStatsData?appId={appId}&lang=J&statsDataId={STATS_DATA_ID}

In [14]:
df = pd.read_csv(URL, names=range(100))
idx = df[df[0]=="VALUE"].index[0]
df_meta = pd.DataFrame(df[:idx]).set_index(0)
df_val = pd.DataFrame(df[idx+2:].values, columns=df.iloc[idx+1].values)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [12]:
df_val.tail()

,tab_code,表章項目,cat01_code,産業,cat02_code,性別,cat03_code,就業状態,cat04_code,年齢階級,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99995,1,実数(人口),0,全産業,0,総数,8,完全失業者,8,30～34歳,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,1,実数(人口),0,全産業,0,総数,8,完全失業者,8,30～34歳,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,1,実数(人口),0,全産業,0,総数,8,完全失業者,8,30～34歳,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,1,実数(人口),0,全産業,0,総数,8,完全失業者,8,30～34歳,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,1,実数(人口),0,全産業,0,総数,8,完全失業者,8,30～34歳,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN